<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 设置日志输出格式 -->
    <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>

    <!-- 设置日志文件路径和名称 -->
    <property name="logFilePath" value="bulls.log" />

    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 文件输出 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logFilePath}</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <!-- 设置日志文件滚动策略 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 每天滚动日志文件 -->
            <fileNamePattern>${logFilePath}.%d{yyyy-MM-dd}.zip</fileNamePattern>
            <!-- 保留最近7天的日志文件 -->
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- 设置日志级别和输出目标 -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>